blosc
ca-certificates
certifi
Click>=7.1
cython
h5py
intel-openmp
krb5
libblas==3.9.0
libcblas==3.9.0
libcurl==7.76.1
liblapack==3.9.0
libssh2==1.9.0
mkl==2021.2.0
mock==4.0.3
numexpr==2.7.3
numpy==1.20.2
openssl==1.1.1k
pip==21.1
tables
python==3.8.8
python_abi==3.8
setuptools==56.0.0
six==1.15.0
sqlite==3.35.5
tk==8.6.10
vc==2018.7.10
vs2015_runtime==14.28.29325
wheel==0.36.2
wincertstore==0.2
zlib==1.2.11
